Django
djangorestframework
djangorestframework-simplejwt
django-filter
django-redis
psycopg2-binary
gunicorn
redis
celery
python-dotenv

# Development dependencies
black
flake8
isort
coverage
locust
pytest
pytest-django